# Rerank 重排查询相关
RerankMultiplier=2
RerankUrl=your url
RerankApi=your api
RerankModel=Qwen/Qwen3-Reranker-8B
RerankMaxTokensPerBatch=30000

# AI级回忆相关
AIMemoModel=
AIMemoBatch=5
AIMemoUrl=your url
AIMemoApi=your api
AIMemoMaxTokensPerBatch=60000
AIMemoPrompt=AIMemoPrompt.txt